<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Note Taker - 12110243</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="banner">
        <div class="home-button">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='home.jpeg') }}" width="35px" height="35px" id="home-button"/>
            </a>
        </div>
        <div class="account">
            <a href="{{ url_for('logout') }}">
                <div class="button">
                    Log Out
                </div>
            </a>
        </div>
    </div>
    <div class="content">
        <hr/>
        {% for note in notes %}
        <form action="" method="post">
            <h3>Edit Note</h3>
            <textarea class="title-edit" name="title" rows="1">{{ note[0] }}</textarea>
            <input type="submit" class="button" id="save" value="Save"/>
            <br/>
            <textarea class="description-edit" name="description">{{ note[1] }}</textarea>
        </form>
        {% endfor %}
        <hr/>
    </div>
</body>
</html>